.swiper-wrapper{
    display: flex;
}
.swiper-slide{
    width: 138px!important;
    margin: 0 10px;
    border: 1px solid #cccccc;
}
.swiper-slide section{
    display: flex;
    flex-direction: column;

}
.swiper-slide section article{
    margin-bottom: 15px;
}
.swiper-slide section article img{
    width: 138px;
    height: 138px;
}
.swiper-slide section article p{
    font-size: 12px;
    color: #666666;
    line-height: 16px;
    height: 77.5px;
    overflow: hidden;
}
.swiper-slide section aside{
    display: flex;
    flex-direction: column;
}
.swiper-slide section aside div:nth-of-type(1){
    display: flex;
}
.swiper-slide section aside div:nth-of-type(1) img{
    width: 10px;
    height: 10px;
}
.swiper-slide section aside div:nth-of-type(1) p{
    font-size: 12px;
    color: #999999;
    margin-left: 5px;
}
.swiper-slide section aside div:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    margin: 5px 0 10px 0;
}
.swiper-slide section aside div:nth-of-type(1) span{
    color: #333333;
}
.swiper-slide section aside div:nth-of-type(2) em{
    color: #c00000;
    font-style: normal;

}