.sort{
    padding-bottom: 12vw;
}

.sort .search_input{
    width: 100%;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}
.sort .search_input input{
    width: 70vw;
    height: 9vw;
    border: 1px solid #ddd;
    border-right: none;
    border-radius:  5px 0 0 5px;
    padding: 0 10px;
    font-size: 12px;
}
.sort .search_input span{
    width: 16vw;
    height: 9vw;
    border: 1px solid #ddd;
    background-color: #F5F5F5;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 9vw;
}
.sort .sub-title{
    text-align: center;
    font-size: 16px;
    height: 12vw;
    line-height: 12vw;
}
.sort .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 45% !important;
}
.sub-content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sub-content li{
    width: 33.3vw;
    height: 115px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.sub-content li img{
    width: 55px;
    height: 55px;
}