.app header{
  height: 8%;
  background-color: #2D3A4B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #ddd;
}
.app header h4{
  font-weight: bold;
  font-size: 24px;
}
.app header .state{
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app header .state img{
  width: 36px;
  border-radius: 100%;
  border: 2px solid #ddd;
}
.app header .state span{
  font-size: 14px;
  margin-left: 20px;
  color: white;
}
/* .app .contnent{
  display: flex;
  height: 92%;
  width: 100%;
} */
.app .el-row{
  height: 92%;
}
.app .el-col{
 
  min-width: 120px;
}
.iflogin{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iflogin p{
  font-size: 20px;
  margin-bottom: 20px;
}

.iflogin button{
  width: 120px;
  height: 50px;
  border-radius: 10px;
  background-color: #58bc58;
  color: white;
  font-size: 16px;
  border: 0;
}